
.sidebar{
    top: 0;
    left: 0;
    width: 16rem;
    height: 100vh;
    background: orchid;
    border-right: 4px solid orchid;
    border-left: 3px solid orchid;
    box-sizing: border-box;
    padding-top: 0.9rem;
    padding-left: 0.15rem;
    contain: content;
    flex-basis: 16rem;
    flex-grow: 1;
}
img{
    max-width: 100%;
}
main{
    display: flex;
    flex-wrap: wrap;
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}
ul{
    display: grid;
    max-width: 20rem;
    contain: content;
    margin: 0;
}
.quick-info{
    padding-bottom: 2rem;
}
.skill-bar-container {
  width: 20rem;
  height: 1.8rem;
  background-color: #eee;
  border-radius: 8px;
  overflow: hidden;
  margin: 0.2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.skill-bar {
  width: var(--percentage);
  height: 100%;
  background-color: rgb(103, 103, 255); 
  line-height: 30px;        
  text-align: right;        
  padding-right: 10px;      
  color: white;            
  font-weight: bold;
  font-family: sans-serif;
  transition: width 1.5s ease-out;
}
h2{
    font-size: 1.7rem;
    margin: 0.2rem;
}
.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}
body{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    max-width: 63rem;
    contain: content;
    background-color:orchid;
}
h4{
    font-size: 1.4rem;
    margin: 0;
    padding:0;
    padding-top: 1rem;
}
.experience{
    contain: content;
    place-content: center;
    display: grid;

}
.centered-layout {
  max-width: 63rem, 100vw;
  margin-inline: auto;
  padding-inline: 1rem;
}