.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 16rem;
    height: 100vh;
    background: black;
    border-right: 4px solid #222;
    box-sizing: border-box;
    padding-top: 0.9rem;
    padding-left: 0.15rem;
    contain: content;

}

main{
    padding-left: 16rem;
}

ul{
    padding: 0;
    padding-left: 1rem;
}

.list-p{

}